---
---

$darkgrey: #393939;

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 10px 0 10px 0;
}

#headerTop {
	background-color: $darkgrey;
	color: white;
	font-size: 28px;

	div {
		margin: 0 auto;
		width: 50%;
		padding: 0 10px 0 10px;

		span {
			text-align: left;
		}

		.navMenu {
			float: right;
			margin-top: -4px;
		}
	}
}

.navMenu {
	list-style-type: none;
	display: inline-block;
	padding: 5px;
	li {
		display: inline-block;
	}
}

.card {
	box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.05);
	margin-top: 10px;
	width: 50%;
	margin: 10px auto;
	padding: 10px;
	img {
		width: 200px;
		border-radius: 50%;
	}
}

#aboutMe {
	text-align: center;
}

.workplace {
	img {
		width: 75px;
		float: left;
		margin-right: 10px;
	}

	.workDate {
		font-size: 1em;
		float: right;
	}

	p {
		clear: both;
	}
}