---
---

$darkBlue: rgb(1, 1, 140);
$red: rgb(140, 1, 1);

* {
	padding: 0;
	margin: 0;
}

body {
	color: #fff;
}

p {
	font-size: 18pt;
}

#header {
	background-color: rgb(55, 55, 55);
	font-size: 16pt;
	padding: 20px;
}

.headerTitle {
	
}

.navList {
	list-style-type: none;
	position: absolute;
	top: 20px;
	right: 1;
	padding-right: 20px;

	li {
		display: inline-block;
		padding-right: 10px;

		a {
			color: inherit;
			text-decoration: none;
		}

		a:hover {
			background-color: rbg(78,78,154);
		}
	}
}

.smNavList {
	list-style-type:none;

	li {
		display: inline-block;
		padding-right: 10px;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

#navBtn {
	position: absolute;
    top: 20;
    right: 1;
    display: none;
    padding-right: 20px;
}

@media(max-width: 700px) {
	.navList {
		display: none;
	}

	.smNavList {
		//display: inline-block;
	}
}

@media(min-width: 700px) {
	.smNavList {
		display: none;
	}
}

#meImg {
	width: 250px;
	border-radius: 50%;
	border: 1px solid black;
	display: block;
	margin: 0 auto;
}

.dropdownContent {
	display: none;
}

.smNavList {
	padding-right: 20px;
}

#profileMain {
	background-color: #984447;
	padding: 10px 0 30px 0;
}

h1 {
	text-align: center;
	clear: both;
	padding: 10px;
	font-size: 28pt;
	font-weight: bold;
}

#bio {
	text-align: center;
	font-size: 18pt;
	max-width: 700px;
	margin: auto;

	p {
		margin: 10px 0 10px 0;
	}

	p:last-child {
		margin: 10px 0 0 0;
		padding-bottom: 10px;
	}
}

#workExp {
	background-color: #19647e;
	padding-bottom: 50px;
}

@mixin infoPanel() {
	color: black;
    margin: 0 auto;
    width: 800px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}

.workplace {
	@include infoPanel();

    .workDate {
    	font-size: 18pt;
    	float: right;
    }

    img {
    	width: 50px;
    	float: left;
    }

    p {
    	clear: both;
    }
}

#portfolio {
	//background-color: #0abab5;
	background-color: #F8837F;
	padding-bottom: 50px;
}

.project {
	@include infoPanel();

	overflow: auto;

	img {
		width: 400px;
		margin: 0 auto;
	}
}


.projectInfo {
	/* display: inline-block;
	width: 65%; */
}

.projectImg {
	width: 400px;
	margin: 0 auto;
}

.projBtns {
	margin-top: 10px;
}

@mixin btn() {
	font-size: 16px;
	border: 0;
	box-shadow: none;
	padding: 5px;
}

.projectInfoBtn {
	@include btn();
	background-color: green;
	color: white;
}

#contact {
	background-color: #644dec;
	padding-bottom: 100px;
	text-align: center;
}

@mixin inputField() {
	color: #222;
	font-weight: bold;
}

#contactForm {
	@include infoPanel();

	input {
	    width: 40%;
		height: 30px;
		background-color: #c1c1c1;
		border: none;
		padding: 5px;
	}

	input::placeholder {
		@include inputField();
	}

	.message {
		@include inputField();
		-moz-appearance: textfield-multiline;
    	-webkit-appearance: textarea;

	    width: 82%;
	    height: 200px;
	    margin: auto;
	    background-color: #c1c1c1;
	    margin-top: 20px;
	    text-align: left;
	    padding: 1%;
	}

	button {
		@include btn();
		margin-top: 10px;
		margin-left: 77%;
		background-color: #644dec;
		color: white;
	}
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  font-size: 18pt;
}
