---
---
body {
	font-family: 'Roboto', sans-serif;
	
	margin: 0;
	padding: 0;
	background-color: #383838;
	color: #F0E7D5;
}

#header {
	//color: pink;
	color: #4286f4;
	background-color: #1a1a1a;
	h1 {
		margin: auto;
		text-align: center;
	}
}