---
title: Adam Batson - Software Developer
---
<html>
	<head>
		{% include head.html %}
	</head>

	<body>
		{% include header.html %}

	<h1>About Me</h1>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur est nec dui egestas euismod. Fusce quis metus in dolor scelerisque tempus et sed metus. Vestibulum bibendum consequat leo, mattis viverra tellus semper sit amet. Integer quis lacus non lacus molestie volutpat. Maecenas et erat dapibus, aliquet justo a, consectetur dolor. Aliquam non turpis vitae neque consectetur vulputate. Mauris sed ultricies turpis. Fusce eu est bibendum, aliquet massa quis, blandit dui. Duis nisl massa, accumsan ut nisi a, pharetra blandit odio.</p>

	<p>Integer justo est, molestie et fermentum nec, sodales vitae mi. Etiam commodo felis eu diam interdum lobortis ac in nibh. Maecenas ut pulvinar arcu. Nulla convallis turpis a mollis viverra. Aliquam mattis, massa sed sodales sodales, eros lorem semper sapien, eu elementum ligula ipsum ac nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec eget diam ornare, varius arcu id, molestie purus. Curabitur sem diam, feugiat sit amet consequat eu, vehicula eget felis. Donec ullamcorper nisi ut neque euismod, sit amet ornare lectus malesuada. Morbi sagittis tincidunt orci, a vestibulum felis vestibulum non. Aenean at ultricies lacus, at eleifend purus. Donec nunc ipsum, varius eget est eget, semper luctus quam. Fusce finibus odio nec metus egestas volutpat. Sed euismod malesuada imperdiet. Fusce at accumsan nunc. Praesent vestibulum odio eu augue egestas, non ullamcorper velit fermentum.</p>

	<p>Aenean dolor urna, imperdiet id leo in, laoreet finibus sapien. Donec euismod ac massa sollicitudin hendrerit. Vestibulum accumsan, est nec vestibulum molestie, tellus risus molestie lectus, nec venenatis odio enim vitae mi. Donec feugiat, nunc ac ornare eleifend, turpis diam dapibus sapien, quis finibus tellus nisi vel felis. Nam vitae orci vitae ligula interdum porttitor. Cras dictum nibh arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras eget arcu sed diam gravida tincidunt. Quisque eu convallis nibh. Etiam in nibh quis enim condimentum pulvinar ac a ex. Sed congue nibh magna, et pulvinar augue pellentesque in. Nam augue ipsum, pharetra sed egestas quis, elementum at dui. Duis sit amet massa nec ligula malesuada varius.</p>

	<h1>Portfolio</h1>

	<div id="portfolio">
		<ul>
			<div class="pf-entry-wrap">
				<li><h3> Entry 1</h3>
				<div class="pf-arrow">&#8593</div>
				<div class="pf-details-wrap">
					<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
				</div>
				</li>
			</div>
			<div class="pf-entry-wrap">
				<li><h3> Entry 2</h3>
				<div class="pf-arrow">&#8593</div>
				<div class="pf-details-wrap">
					<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
				</div>
				</li>
			</div>
			<div class="pf-entry-wrap">
				<li><h3> Entry 3</h3>
				<div class="pf-arrow">&#8593</div>
				<div class="pf-details-wrap">
					<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
				</div>
				</li>
			</div>
		</ul>
	</div>

	<h1>Contact Me</h1>

	<form action="https://getsimpleform.com/messages?form_api_token=<form_api_token>" method="post">
	<fieldset>
		Name: <input type="text" name="name" /><br/>
		E-mail: <input type="email" name="email" /><br/>
		Message:<br/><textarea name="message" cols=70 rows=25/></textarea><br/>

	  <input type='submit' value='Submit' />
	</fieldset>
</form>

	<div id="border-wrapper">
		<div id="border" ></div>
	</div>

	{% include nav.html %}

	</body>
</html>