<div id="aboutMe" class="card">
    <img id="meImg" src="images/bio-pic.jpg" alt="Adam Batson">
    <div>
        <h1>About Me</h1>
        <p>Hi, my name is Adam and I write software.</p>
        <p>I am a graduate of the Software Engineering program at Carleton University. I currently work at Ottawa based startup
            <a href="https://slenke.com">Slenke Inc</a> where I help build Slenke's web and mobile applications.
        </p>
        <p>I was born and raised in the small mining town of Labrador City, Newfoundland and Labrador. My hobbies include running,
            hiking, cross country skiing, and reading. </p>
    </div>
</div>