<h1>About Me</h1>

<p>Adam Batson is a Software Developer residing in Ottawa, Ontario.  A graduate of the Software Engineering program at Carleton University, he combines a passion for technology with critical thinking and software development skills.  He is currently seeking employment as a Software Developer in the Ottawa area.  </p>

<p>Adam has experience developing applications in both web and desktop environments.  Some of his favourite tools include Java, Python, Ruby on Rails, C#, and Git.   He loves experimenting with and learning new tools.  </p>

<p>Adam was born and raised in the small mining town of Labrador City, Newfoundland and Labrador.  His hobbies include cross country skiing, running, biking, and computer programming.  </p>
