<div id="contact">
	<a name="contact"><h1>Contact Me</h1></a>

	<div id="contactFormDiv">
		<form id="contactForm">
			<fieldset>
				Name: <input type="text" name="name"><br/>
				Email: <input type="email" name="_replyto"><br/>
				Message: <br/><textarea name="message" cols=70 rows=25/></textarea><br/>
				<input type="submit" value="Send">
				<!--Anti spam-->
				<input type="text" name="_gotcha" style="display:none" />
			</fieldset>
		</form> 
	</div>

	<div id="thanksDiv" style="display:none">
		<p>Thanks for your submission!  I'll be in contact with you shortly!</p>
	</div>

	<div id="errDiv" style="display:none">
		<p>There was an error with the form, please try again</p>
	</div>
</div>