<h1 style="text-align: center;">Contact Me</h1>
<div class="card">
    <p>
        Use the form below if you'd like to get in touch with me.
        I'll get back to you as soon as I can.
    </p>
    <form id="contactForm" action="https://getsimpleform.com/messages?form_api_token=f67041d6f71c5c71a27b72256dbae882" method="post">
        <input class="contactInput name" type="text" name="name" placeholder="Your Name">
        <input class="contactInput email" type="email" name="email" placeholder="Your email"
            style="margin-left: 5%;">
        <textarea name="message" class="message" placeholder="Your Message"
            data-gramm_editor="false"></textarea>
        <input type="hidden" name="redirect_to" value="/thanks.html">
       <!--  <div style="text-align: right;"> -->
            <button type="submit" id="contactSubmit">Submit</button>
        <!-- </div> -->
    </form>
</div>