<div id="header">
	<div id="headerTop">
		<div>
			<div style="padding: 0;">
				<span>Adam Batson</span>
			</div>
			<ul class="navMenu">
				<li><a href="https://adambatson.com">Home</a></li>
				<!-- <li>Blog</li> -->
				<li><a href="https://gitlab.adambatson.com">GitLab</a></li>
			</ul>
			<ul class="navMenu" style="float: right; margin-top: -4px;">
				<li><a href="https://github.com/adambatson/">
					<img src="/images/github_white.png">
				</a></li>
				<li><a href="https://www.linkedin.com/in/adam-batson-128176133/">
					<img src="/images/linkedin_white.png">
				</a></li>
			</ul>
		</div>
	</div>
</div>