<h1>Portfolio</h1>
<h2>Coming Soon</h2>

<div id="portfolio">
	<ul>
		<div class="pf-entry-wrap">
			<li><h3> Entry 1</h3>
			<div class="pf-arrow">&#8593</div>
			<div class="pf-details-wrap">
				<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
				<div class="pf-icons">
					<img src="/images/github_icon_pf.png" alt="github" >
					<button type="button">More Info</button>
				</div>
			</div>
			</li>
		</div>
		<div class="pf-entry-wrap">
			<li><h3> Entry 2</h3>
			<div class="pf-arrow">&#8593</div>
			<div class="pf-details-wrap">
				<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
				<div class="pf-icons">
					<img src="/images/github_icon_pf.png" alt="github" >
					<button type="button">More Info</button>
				</div>
			</div>
			</li>
		</div>
		<div class="pf-entry-wrap">
			<li><h3> Entry 3</h3>
			<div class="pf-arrow">&#8593</div>
			<div class="pf-details-wrap">
				<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
				<div class="pf-icons">
					<img src="/images/github_icon_pf.png" alt="github" >
					<button type="button">More Info</button>
				</div>
			</div>
			</li>
		</div>
	</ul>
</div>