<a name="portfolio"><h1>Portfolio</h1></a>

<div id="portfolio">
	<ul>
		
		{% for project in site.data.portfolio.projects %}
			<div class="pf-entry-wrap">
  			<li><h3>{{project.title}}</h3>
    			<div class="pf-arrow">&#8593</div>
    			<div class="pf-details-wrap">
    				<p>{{project.blurb}}</p>
      				<div class="pf-icons">
      					<a href={{project.github}}><img src="/images/github_icon_pf.png" alt="github" ></a>
      					<a href={{project.url}}><button type="button">More Info</button></a>
      				</div>
    			</div>
  			</li>
		  </div>
		{% endfor %}
	</ul>
</div>