<h1 style="text-align: center;">Work Experience</h1>
<div class="workplace card">
    <img src="images/slenke.png">
    <h2>
        <a href="https://slenke.com" target="_blank"></a>Slenke Inc.
        <span class="workDate">September 2017 - Present</span>
    </h2>
    <h3>Software Developer</h3>
    <p>
        <a href="https://slenke.com">Slenke</a> is a collaborative project
        management sofwtare who's mission is to help create a connected
        workplace and give people working in it a simpler way to get work done.
    </p>
    <p>
        I started working at Slenke in September of 2017. During my time here
        I've had the pleasure of working on an innovative product
        and developed proficiencies in CakePHP, jQuery and mobile app development
        with the Ionic framework. I've also worked with third party services
        OneSignal and Stripe, I also oversaw Slenke's integration with the Zapier
        platform.
    </p>

</div>